.TodoForm {
  width: 100%;
  display: flex;
  padding: 12px;
  box-sizing: border-box;
}

.TodoForm__input {
  width: 100%;
  padding: 8px;
  margin-right: 8px;
}

.TodoForm__button {
  padding: 8px;
}
