.App {
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  padding: 12px;
}

.App__box {
  background: #fff;
  margin: 12px 0;
  padding: 12px;
  box-sizing: border-box;
  position: relative;
  box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.App__footer {
  text-align: center;
  margin: 24px 0;
}
